<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>플라스크시각화연습</title>

</head>
<body>
<form action="/chart" method='POST'>
    데이터선택 : <input type="text" name="file_name" placeholder="데이터이름"> <br>
    <font size="2em" color="green">국내건설수주액, 주택매매가격지수(KB), 지역별_지가변동률 중 입력하세요 </font> <br>
    날짜1 : <input type="text" name="day1" placeholder="날짜1"> <br>
    날짜2 : <input type="text" name="day2" placeholder="날짜2"> <br>
    <br><br>
    <input type="submit" value = "전송">
</form>


</body>
</html>